:root {
	--color1:#222831;
	--color2:#393E46;
	--color3:#00ADB5;
	--color4:#EEEEEE;
}
body{
	width: 100%;
	background-color: #f6f5f5;
}
/*헤더*/
.header{
	width:100%;
	height: 70px;
	background-color: var(--color1);
    border-bottom: 20px solid var(--color2);
}
.header h1{
	font-size: 2rem;
	font-weight: bold;
	display: inline;
	position: relative;
	left : 30px;
	top : 18px;
	font-family: 'Roboto', sans-serif;
}
.header h1 a{
	color:white;
	text-decoration: none;
}
.header span a{
	text-decoration: none;
	color:white;
    position: absolute;
    right: 20px;
    top: 18px;
    font-size: 2rem;
}
.header span a:hover{
	color:#d0caca;
}
/*작업공간*/
.work{
	width: 100%;
	height: 900px;
}
/*좌측 메뉴*/
.work .left-menu{
	float:left;
	width: 200px;
}
.work .left-menu ul li{
	width: 190px;
	background-color: var(--color2);
	padding: 10px 0;
	text-align:center;
	transition:0.5s;
}
.work .left-menu ul li:hover{
	width: 200px;
	background-color: var(--color1);
	font-weight:bold;
	color:white;
	border-bottom: 2px #f6f5f5 solid;
}
.work .left-menu ul li a{
	color:white;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
}

/*컨텐츠 */
.contents{
	float:left;
    height: 900px;
	background-color:white;
    width : -webkit-calc(100% - 260px); /* for Chrome, Safari */
    width :    -moz-calc(100% - 260px); /* for Firefox */
    width :         calc(100% - 260px); /* for IE */;
    padding: 0 30px;
}
.work .contents .content-title{
    font-weight: bold;
    border-left: 10px double var(--color2);
    padding-left: 8px;
    font-size: 1.3rem;
    margin: 20px 0;
}

/*컨텐츠 조회 */
.work .contents .content-work .content-serach{
    margin-bottom: 20px;
}
.work .contents .content-work .content-serach
select{
	
    height: 28px;
    width: 100px;
}
.work .contents .content-work .content-serach
.keyword{
    height: 22px;
}
.work .contents .content-work .content-serach
.btn{
    width: 60px;
    height: 27px;
    cursor: pointer;
}

/*컨텐츠 테이블*/
.work .contents .content-work .content-table
table {
	width: 100%;
	background-color: var(--color2);
	text-align: center;
}

.work .contents .content-work .content-table
table thead tr {
	font-weight: bold;
	color: white;
}

.work .contents .content-work .content-table
table thead th {
	padding: 20px 0;
	border: 1px solid var(--color1);
}

.work .contents .content-work .content-table
table tbody tr {
    height: 40px;
    vertical-align:middle;
	background-color: #f6f5f5;
	cursor: pointer;
}

.work .contents .content-work .content-table
table tbody tr:hover {
	background-color: #d0caca;
}

.work .contents .content-work .content-table
table tbody tr td {
	padding: 10px 0;
	border: 1px solid #b4abab;
}

.work .contents .content-page {
	text-align: center;
	margin: 30px 0;
}

.work .contents .content-page span {
	text-align: center;
	padding: 10px 10px;
	background-color: #f6f5f5;
	border: 1px solid #b4abab;
	cursor: pointer;
}

.work .contents .content-page span:hover 
{
	background-color: #d0caca;
}

.work .contents .content-page span a
{
	text-decoration: none;
	color:black;
}

/* 메인화면 컨텐츠*/
.contents .jumbotron
{
	background: silver;
    padding: 50px;
    color: white;
    margin-top: 30px;
    border-radius: 10px;
}
.contents .jumbotron .jumbo-title
{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}
.contents .jumbotron .jumbo-text
{
    line-height: 30px;
}


/* 디테일 리스트*/

.work .contents .content-work .content-table-detail
table {
	width: 100%;
	text-align: center;
}


.work .contents .content-work .content-table-detail
table tbody tr {
	background-color: #f6f5f5;
}

.work .contents .content-work .content-table-detail
table tbody tr th {
	background-color:var(--color2);
	font-weight: bold;
	color: white;
	border: 1px solid #b4abab;
}
.work .contents .content-work .content-table-detail
table tbody tr td {
	padding: 10px 0;
	border: 1px solid #b4abab;
}
.work .contents .content-work .content-table-detail
table tbody tr td input{
    width: 95%;
    padding: 5px;
}
/*컨텐츠 디테일 버튼모음*/

.work .contents .content-work .content-detail-btn{
    margin-top: 20px;
}
.work .contents .content-work .content-detail-btn
.btn{
    width: 60px;
    height: 27px;
    cursor: pointer;
}

table tbody .gubun-combo th
{
	vertical-align: middle;
}

table tbody .gubun-combo td select
{
	float: left;
    margin-left: 4px;
    height: 30px;
}


/* 푸터 */
.footer {
	background-color: var(--color1);
	width: var(--frame-size);
	height: 150px;
	display: table;
}

.footer .footer-left, .footer .footer-right {
	display: table-cell;
	color: white;
	width: 50%;
	padding: 20px 30px;
	line-height: 20px;
}

.footer .footer-right .footer-admin-btn {
	background-color: #f6f5f5;
	border-radius: 10px;
	width: 150px;
	padding: 10px;
	margin: 10px 0px;
	text-align: center;
	color: black;
	cursor: pointer;
}

.footer .footer-right .footer-admin-btn:hover {
	background-color: #d0caca;
}