.content {
    z-index: 1;
    position: absolute;
    top:60px;
    width: 100%;
    background-color: #f9f9f9;
}
.content-title {
    margin : 30px;
    font-size: 30px;
    font-weight: bold;
    color:var(--title-color);
    padding : 0px 10px;
}
.content-title > h2{
    display: inline-block;
}
.title-info{
    display: inline-block;
    font-size:13px;
    font-weigh:none;
    color: var(--color2);
}

.content-serach-form{
    position: relative;
    margin : 30px;
    background-color: var(--form-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px 0px silver;
}
.content-serach-item{
    display: inline-block;
}
.content-serach-item > label{
    font-size: 13px;
    font-weight: bold;
    color:var(--text-color);
    margin: 0px 0px 0px 10px;
    display: inline-block;
    width: 60px;
}
.content-serach-item > input{
    width: 150px;
    padding : 5px 10px;
    border-radius: 5px;
    border: none;
}

.content-serach-item > select{
    width: 150px;
    padding : 5px 10px;
    border-radius: 5px;
    border: none;
}
.btn-search{
    padding : 5px 10px;
    position: absolute;
    right: 20px;
    font-weight: bold;
    width: 70px;
}
.content-top{
    display: flex;
    justify-content: space-between;
    margin : 15px 30px;
}
.content-top > div{
    display: inline-block;
}
.list-cnt{
    padding : 5px 10px;
    font-weight: bold;
    color: var(--title-color);
}
.btn-content{
    font-weight: bold;
    width: 70px;
    padding : 5px 10px;
}
.content-work{
    margin : 15px 30px;
}
.content-work > table{
    width: 100%;
    text-align: center;
    box-shadow: 4px 4px 10px 0px silver;
}
.content-work > table > thead{
    background-color:var(--title-color);
    color:var(--text-color-white);
    font-weight: bold;
    height: 40px;
    line-height: 40px;
}

.content-work > table > tbody > tr{
    background-color:var(--form-color);
    color:#000000;
    height: 30px;
    line-height: 30px;
}
.content-work > table > tbody > tr{
    background-color:var(--form-color);
    border-bottom:solid 2px #ffffff;
    color:#000000;
    height: 40px;
    line-height: 40px;
}
.list-dtl{
    cursor: pointer;
    color : var(--title-color);
}
.list-dtl:hover{
    font-weight: bold;
}
@media screen and (max-width: 950px){
    .content-serach-item{
        display: block;
        height: 40px;
        line-height: 40px;
    }
    .btn-search{
        bottom: 25px
    }
    .content-title {
        margin : 30px 10px;
    }
    .content-work{
        margin : 15px 10px;
    }
    .content-top{
        margin : 15px 10px;
    }
    .content-serach-form{
        margin : 30px 10px;
    }
}

/* layer css */
.layer-member{
    position: fixed;
    z-index: 200;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: var(--form-color);
    display: none;
    border-radius: 5px;
}
.layer-header{
    background: rgb(63,69,73);
    background: linear-gradient(56deg, rgba(63,69,73,1) 0%, rgba(82,97,107,1) 100%);
    color : var(--text-color-white);
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px 5px 0 0;
}
.later-close-btn{
    cursor: pointer;
}
.layer-work{
    display: flex;
    padding:20px;
    color: var(--title-color);
}
.picture{
    width: 90%;
    background: #ffffff url("/images/lgs/noimage.gif") no-repeat left center;
    border-radius: 10px;
    border: 2px #ffffff solid;
    margin-bottom: 20px;
}
.picture-form{
    width: 250px;
}
.layer-col{
    width: 333px;
}
.layer-tr{
    margin-bottom: 15px;
    height: 25px;
    line-height: 25px;
}
.layer-tr > label{
    display: inline-block;
    width: 110px;
}
.layer-tr > input{
    width: 190px;
    height: 25px;
}
.layer-tr > select{
    width: 180px;
    height: 25px;
}
.item-right{
    text-align: right;
    margin-right: 25px;
}
.layer-btn{
    text-align: right;
    margin-right: 20px;
    margin-bottom: 20px;
}
.layer-btn > input{
    padding: 5px 20px;
}

.backgnd-block-layer{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 190;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: none;
}

.mypage-member{
    position: absolute;
    top: 151px;
    width: 100%;
    text-align: center;
    background-color: var(--form-color);
    border-radius: 5px;
}
.work-master{
    width: calc(100% - 400px);
    height: 400px;
    overflow: scroll;
    background-color: var(--color4);
    margin-right: 20px;
}
.work-master > .detail-label{
    display: flex;
    justify-content: space-between;
    position:sticky;
    top:0;
}
.work-master::-webkit-scrollbar {
    width: 10px;
}
.work-master::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
}
.work-master::-webkit-scrollbar-track {
    background-color: #ffffff;
}
.work-detail{
    width: 400px;
    background-color: var(--form-color);
    box-shadow: 4px 4px 10px 0px silver;
    border-radius: 10px;
}
.row{
    padding: 10px 20px;
    color:var(--text-color);
    font-weight: bold;
}
.row > label{
    display: inline-block;
    width: 100px;
}
.row > input{
    width: 200px;
    padding: 7px 5px;
}
.row > select {
    width: 150px;
    padding: 7px 5px;
}
.detail-label{
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px;
    background-color: var(--title-color);
    font-weight: bold;
    color: var(--text-color-white);
    border-left: 6px double var(--title-color);
}
.label-info{
    font-size:11px;
    line-height: 16px;
}


@media screen and (max-width: 950px){
    .layer-work{
        display: block;
    }
    .layer-member{
        position: absolute;
        top:70%;
    }
    .flex{
        display: block;
    }
    .work-detail{
        width: 100%;
    }
    .work-master{
        height: 200px;
        margin-bottom: 20px;
        width: 100%;
        padding : 0px;
    }
}
