.content{

}
.content > img{
    width:100%;
}
.jumbotron{
    background: var(--form-color);
    padding: 50px 20px 70px 20px;
    color: var(--text-color);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    position: relative;
}
.jumbotron > input{
    position :absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px;
    cursor: pointer;
}


@media screen and (max-width: 950px){
    .content > img{
        height: 250px;
    }
}
