.header {
    display: flex;
    background-color: var(--form-color);
    height: 60px;
    width: 100%;
    justify-content: space-between;
    box-shadow: 4px 4px 10px 0px silver;
    z-index: 5;
    position: absolute;
}
.header-title{
    margin-left:20px;
}
.nav{
    text-align: center;
}
.nav-main{
    float: left;
    width: 170px;
    height: 60px;
    line-height: 60px;
}
.nav-main > a{
    display: block;
    height: 60px;
    text-decoration: none;
    color: var(--nav-text-color);
    font-weight: bold;
    font-size:15px;
}
.nav-main > a:hover{
    background-color: var(--nav-text-color);
    color: #ffffff;
}
.nav-sub{
    display: none;
    height: 180px;
}
.nav-sub > li{
    height: 60px;
    line-height: 60px;
}
.nav-sub > li > a{
    text-decoration: none;
    color: var(--nav-text-color);
    font-size: 13px;
    text-align: left;
}
.info-btn{
    background: url("/images/lgs/noimg.png") no-repeat left center;
    background-size: 50px 50px;
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin: 2px 20px 0px 0px;
    cursor: pointer;
    border: 2px solid #ffffff;
}
.moba-nav{
    font-size: 50px;
    margin: 2px 20px 0px 0px;
    cursor: pointer;
    display: none;
    color:#52616B;
}
.moba-nav-list{
    background-color: var(--text-color);
    height: 1000px;
    width: 350px;
    position: absolute;
    z-index: 250;
    top: 0px;
    right: 0px;
    display: none;
}
.moba-nav-list > .user-info{
    display: flex;
    justify-content: space-between;
    background-color: var(--form-color);
    padding: 10px;
}
.moba-nav-list > .user-info > .info-btn{
    margin: 0px;
}
.info-description > .info-desc-text{
    margin-top: 3px;
    color: var(--text-color);
}
.info-description > .info-desc-text > strong{
    font-weight: bold;
}
.info-description > .info-desc-btn{
    font-size: 0;
}
.info-description > .info-desc-btn > input{
    width: 80px;
    margin: 10px 5px 0px 0px;
    padding: 7px 5px;
    font-size: 13px;
    font-weight: bold;
}
.user-info > i{
    background-color: var(--title-color);
    color: #ffffff;
    cursor: pointer;
    font-size: 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-top: 6px;
    border-radius: 5px;
}
.user-info > i:hover{
    background-color: #000000;
}
/* 유저 카드 */
.user-info-layer{
    position: absolute;
    z-index: 6;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 4px 4px 10px 0px silver;
    right: 10px;
    top: 65px;
    display: none;
}
.user-info-layer > .info-layer-text{
    background-color: var(--title-color);
    color: var(--text-color-white);
    padding: 15px;
    border-radius:10px 10px 0px 0px;
    font-size: 13px;
}
.user-info-layer > .info-layer-text > strong{
    font-weight: bold;
}
.user-info-layer > .info-layer-btn{
    background-color: var(--form-color);
    color: var(--text-color-white);
    padding: 15px;
    margin:0px;
    border-radius:0px 0px 10px 10px;
}
.user-info-layer > .info-layer-btn > input{
    border: none;
    border-radius: 0px;
    height: 30px;
}
.user-info-layer > .info-layer-btn > input:first-child{
    margin-bottom: 2px;
}
.info-layer-btn{
    margin: 5px;
}
.info-layer-btn > input{
    display: block;
    width: 100%;
}
.moba-nav-main{
    width: 350px;
    background-color: var(--title-color);
}
.moba-nav-main > a{
    font-size:20px;
    color:#ffffff;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 15px 20px;
    border-bottom: var(--title-color) solid 1px;
    border-left: var(--title-color) solid 1px;
    border-right: var(--title-color) solid 1px;
}
.moba-nav-sub > li{
    background-color: var(--form-color);
}
.moba-nav-sub > li > a{
    display: block;
    text-decoration: none;
    color:var(--text-color);
    border-bottom: var(--title-color) solid 1px;
    padding: 10px 30px;
    font-weight: bold;
}
@media screen and (max-width: 950px){
    .nav{
        display: none;
    }
    .user-info{
        display: none;
    }
    .moba-nav{
        display: block;
    }
}