<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lgs.admin.mapper.AdminStackMapper">

	<select id="searchList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT IDX
		     , SEQ
		     , TEC_TITLE
		     , MEMBER_ID
		  FROM (SELECT ROWNUM AS NUM
		             , A.IDX
		             , A.SEQ
				     , A.TEC_TITLE
				     , B.ID AS MEMBER_ID
		          FROM TECHNOLOGY A
		          LEFT OUTER JOIN MEMBER B
		            ON A.IDX = B.IDX)
		 WHERE 1=1
		 <choose>
			 <when test="chkbox == 'name' 
			         and keyword != null 
			         and keyword != ''">
		   AND TEC_TITLE LIKE '%'|| #{keyword} ||'%'
			 </when>
			 <when test="chkbox == 'id'
			         and keyword != null 
			         and keyword != ''">
		   AND MEMBER_ID LIKE '%'|| #{keyword} ||'%'
			 </when>
		 </choose>
		   AND NUM BETWEEN #{start} AND #{end}
	</select>
	
	<select id="countList" resultType="int">
		SELECT COUNT(*)
		  FROM TECHNOLOGY
	</select>
	
	<select id="search" parameterType="java.lang.String" resultType="java.util.HashMap">
		SELECT A.IDX
		     , A.SEQ
		     , A.TEC_TITLE
		     , A.TEC_NAME1
		     , A.TEC_NAME2
		     , A.TEC_NAME3
		     , A.TEC_NAME4
		     , A.TEC_IMG1
		     , A.TEC_IMG2
		     , A.TEC_IMG3
		     , A.TEC_IMG4
		     , B.ID AS MEMBER_ID
		  FROM TECHNOLOGY A
          LEFT OUTER JOIN MEMBER B
            ON A.IDX = B.IDX
		 WHERE A.SEQ = #{IDX}
	</select>
	
	<insert id="add" parameterType="java.util.HashMap">
		INSERT
		  INTO TECHNOLOGY
		     ( IDX
		     , SEQ
		     , TEC_TITLE
		     , TEC_NAME1
		     , TEC_NAME2
		     , TEC_NAME3
		     , TEC_NAME4
		     ) VALUES
		     ( #{idx}
		     , (SELECT NVL(MAX(TO_NUMBER(IDX)),0)+1 
		          FROM TECHNOLOGY)
		     , #{tectitle}
		     , #{tecname1}
		     , #{tecname2}
		     , #{tecname3}
		     , #{tecname4}
		     )
	</insert>

	<update id="update" parameterType="java.util.HashMap">
		UPDATE TECHNOLOGY
		   SET TEC_TITLE = #{tectitle}
		     , TEC_NAME1 = #{tecname1}
		     , TEC_NAME2 = #{tecname2}
		     , TEC_NAME3 = #{tecname3}
		     , TEC_NAME4 = #{tecname4}<!-- 
		     , TEC_IMG1 = #{tecimg1}
		     , TEC_IMG2 = #{tecimg2}
		     , TEC_IMG3 = #{tecimg3}
		     , TEC_IMG4 = #{tecimg4} -->
		 WHERE SEQ = #{seq}
	</update>
	
	<delete id="delete" parameterType="java.lang.String">
		DELETE 
		  FROM TECHNOLOGY
		 WHERE SEQ = #{seq}
	</delete>
</mapper>