<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lgs.admin.mapper.AdminMemberMapper">

	<select id="searchList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT	MEMBER_NO
			 ,	MEMBER_ID
			 ,	MEMBER_NAME
			 ,	MEMBER_GENDER
			 ,	MEMBER_PHONENUM
			 ,	INSERT_DATE
		FROM 	MEMBER
	</select>
	
	<select id="countList" resultType="int">
		SELECT COUNT(*)
		  FROM MEMBER
	</select>


</mapper>