<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lgs.admin.mapper.BbsMapper">

	<select id="searchList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT	BBS_NO
			 ,	BBS_NAME
			 ,	FN_GET_CODE_NAME('B001', BBS_TYPE) AS BBS_TYPE
			 ,	TO_CHAR(INSERT_DATE ,'YYYY-MM-DD') AS INSERT_DATE
		FROM 	BBS
		<where>
			<if test="name != null and name != ''">
				AND BBS_NAME LIKE '%' || #{name} || '%'
			</if>
			<if test="type != null and type != ''">
				AND BBS_TYPE = #{type}
			</if>
		</where>
		ORDER BY BBS_NO ASC
	</select>
	
	<select id="countList" resultType="int">
		SELECT COUNT(*) AS CNT
		  FROM BBS
	</select>

	<select id="search" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT	A.MEMBER_NO
			,	A.MEMBER_ID
			,	A.MEMBER_NAME
			,	A.MEMBER_GENDER
			,	A.MEMBER_PHONENUM
			,	A.MEMBER_AUTOR
			,	A.MEMBER_BRITHDAY
			,	A.MEMBER_LOCATION
			,	A.MEMBER_LOCATION_DTL
			,	A.MEMBER_EMAIL
			,	A.MEMBER_PW
			,	A.MEMBER_PW_QUESTION
			,	A.MEMBER_PW_ANSWER
			,   A.MEMBER_IMAGE_NO
			,	B.FILE_PATH
		FROM	MEMBER A
		,
		(
			SELECT	FILE_NO
				 ,	FILE_PATH || '/'|| SAVE_FILE_NAME || FILE_EXTEN AS FILE_PATH
			FROM	FILE_REPOSITROY
			WHERE	USE_YN = 'Y'
		) B
		WHERE	A.MEMBER_IMAGE_NO = B.FILE_NO (+)
		AND		A.MEMBER_ID = #{id}
	</select>

	<update id="update" parameterType="java.util.HashMap">
		UPDATE	MEMBER
		SET 	MEMBER_PW 			= #{passwd}
			,	MEMBER_GENDER 		= #{gender}
			, 	MEMBER_PHONENUM 	= #{phonenum}
			,	MEMBER_LOCATION 	= #{location}
			,	MEMBER_LOCATION_DTL = #{locationDtl}
			,	MEMBER_NAME 		= #{name}
			,	MEMBER_EMAIL 		= #{email}
			,	MEMBER_BRITHDAY 	= #{birthday}
		<if test="memberImageNo != null and memberImageNo != ''">
			,	MEMBER_IMAGE_NO		= #{memberImageNo}
		</if>
			,	MEMBER_PW_QUESTION 	= #{quiz}
			,	MEMBER_PW_ANSWER 	= #{pwfind}
		    ,	UPDATE_DATE 		= SYSDATE
		WHERE	MEMBER_ID = #{id}
	</update>

	<delete id="delete" parameterType="java.util.HashMap">
		DELETE
		FROM	MEMBER
		WHERE	MEMBER_ID = #{id}
	</delete>
</mapper>