<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lgs.admin.mapper.PostMapper">

	<select id="searchList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT  B.BBS_NAME
			,   A.POST_NO
			,   A.POST_TITLE
			,   A.POST_CONTENT
			,   A.POST_STATUS
			,   A.FILE_NO
			,   A.FILE_NO2
			,   TO_CHAR(A.INSERT_DATE, 'YYYY-MM-DD') AS INSERT_DATE
			,   A.INSERT_USER_ID
		FROM    POST A
			,   BBS B
		WHERE	A.BBS_NO  = B.BBS_NO (+)
		<if test="name != null and name != ''">
		AND		A.POST_TITLE LIKE '%' || #{name} || '%'
		</if>
		<if test="bbs != null and bbs != ''">
		AND		A.BBS_NO = #{bbs}
		</if>
		<if test="status != null and status != ''">
		AND		A.POST_STATUS = #{status}
		</if>
		ORDER BY A.POST_STATUS DESC, A.POST_NO ASC
	</select>
	
	<select id="countList" resultType="int">
		SELECT	COUNT(*) AS CNT
		FROM	POST
	</select>

	<select id="search" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT	A.POST_NO
			,	A.BBS_NO
			,	A.POST_TITLE
			,	A.POST_CONTENT
			,   A.POST_STATUS
			,	A.INSERT_USER_ID
			,	A.INSERT_DATE
			,	A.UPDATE_DATE
			,	A.FILE_NO
			,	A.FILE_NO2
			, 	FN_GET_FILE_DATA(A.FILE_NO, 'FULLNAME') AS FILE_NAME
			, 	FN_GET_FILE_DATA(A.FILE_NO2, 'FULLNAME') AS FILE_NAME2
		FROM	POST A
		WHERE	A.POST_NO = #{post}
	</select>

	<insert id="add" parameterType="java.util.HashMap">
		INSERT
		INTO 	POST
		(	POST_NO
		,	BBS_NO
		,	POST_TITLE
		,	POST_CONTENT
		,	INSERT_USER_ID
		,	INSERT_DATE
		,	UPDATE_DATE
		,	FILE_NO
		,	FILE_NO2
		,	POST_STATUS
		)
		VALUES
		(	( SELECT NVL(MAX(POST_NO), 0) + 1
		       FROM POST )
		,	#{bbs}
		,	#{postTitle}
		,	#{postContent}
		,	#{insertId}
		,	SYSDATE
		,	SYSDATE
		,	#{postFileOne}
		,	#{postFileTwo}
		,	#{postStatus}
		)
	</insert>

	<update id="update" parameterType="java.util.HashMap">
		UPDATE	POST
		SET 	POST_TITLE		= #{postTitle}
			,	POST_CONTENT	= #{postContent}
			,	UPDATE_DATE		= SYSDATE
			,	FILE_NO			= #{postFileOne}
			,	FILE_NO2		= #{postFileTwo}
			,	POST_STATUS		= #{postStatus}
		WHERE	BBS_NO			= #{bbs}
		  AND	POST_NO			= #{post}
	</update>

	<delete id="delete" parameterType="java.util.HashMap">
		DELETE
		FROM	POST
		WHERE	POST_NO = #{post}
	</delete>
</mapper>